<section>
    <div class="content">
        <div class="positive">
            <h2>{{ 'feedback.positive_head' | translate }}</h2>
            <p>{{ 'feedback.positive_text' | translate }}</p>
        </div>
        <div class="negative">
            <h2>{{ 'feedback.negative_head' | translate }}</h2>
            <p>{{ 'feedback.negative_text' | translate }}</p>
        </div>
        <button routerLink="/">
            {{ 'feedback.button' | translate }}
        </button>
    </div>
</section>
