@use './../../../../public/assets/styles/all-styles.scss' as all;

.mobile{
    display: none;
    @include all.notebook{
        @include all.d-flex();
    }
}

section{
    background: url('./../../../../public/assets/design/05_contact/06_Contact.png');
    width: 100%;
    height: auto;
    min-height: 40dvh;
    color: all.$color2;
    .content{
        width: 100%;
        height: auto;
        max-width: 1920px;
        padding: 15rem;
        @include all.d-flex($flexdir: column);
        @media (max-width: 1250px) {
            @include all.paddingLeftRightOnly($pad: 10rem);
        }
        @include all.tablet{
            @include all.paddingLeftRightOnly($pad: 5rem);
        }
        @include all.mobile{
            @include all.paddingLeftRightOnly($pad: 3rem)
        }
        .columns{
            @include all.d-flex($flexdir:row, $jc: space-between, $gap: 5rem);
            // #region Introduction
            #left-column{
                width: 50%;
                h2{
                    @media (max-width: 1125px) {
                        font-size: 5.4rem;
                    }
                    @media (max-width: 460px) {
                        font-size: 5rem;
                        word-break: break-word;
                    }
                }
                p{
                    padding: 4rem 0 4rem 0;
                }
                div{
                    width: 100%;
                    @include all.d-flex($alit: right);
                    @include all.left-to-right-animation();
                    img{
                        width: 25rem;
                        right: -15rem;
                    }
                }
            }
            // #endregion
            // #region Contact Form
            #right-column{
                width: 40%;
                @include all.d-flex($flexdir:column);
                img{
                    width: 15rem;
                    transform: rotate(20deg);
                    @include all.adjustTopRight($pos: absolute);
                }
                form{
                    @include all.d-flex($flexdir: column, $alit: left, $rgap: 2rem);
                    padding-top: 10rem;
                    width: 100%;
                    h3{
                        font-size: 2.4rem;
                        &:hover{
                            color: all.$highlight2;
                        }
                    }
                    input, textarea{
                        background: transparent;
                        border: 0;
                        padding-bottom: 2rem;
                        width: 100%;
                        border-bottom: 1px solid all.$highlight1;
                        color: all.$color2;
                        &:hover{
                            border-bottom-color: all.$highlight3;
                        }
                    }
                    span{
                        font-size: 1.8rem;
                        color: red;
                        bottom: 6rem;
                    }
                    
                    >.privacy-policy{
                        #confirm{
                            border: 0;
                        }
                        >label{
                            font-size: 1.6rem;
                            font-weight: regular;
                        }
                        [type="checkbox"] {
                            -webkit-appearance: none;
                        }
                        [type="checkbox"] + label::before {
                            @include all.square($length: 2.1rem);
                            background-image: url("./../../../../public/assets/icons/unchecked.png");
                            display: block;
                            content: "";
                            float: left;
                        }
                        [type="checkbox"]:hover+label::before {
                            background-image: url("./../../../../public/assets/icons/unchecked_hover.png");
                        }
                        [type="checkbox"]:checked+label::before {
                            background-image: url("./../../../../public/assets/icons/checked.png");
                        }
                        [type="checkbox"]:checked:hover+label::before {
                            background-image: url("./../../../../public/assets/icons/checked_hover.png");
                        }
                    }
                    >#submit-btn{
                        margin-left: auto;
                        >button{
                            padding: 0;
                            @include all.button-like($color: gray);
                            border-bottom: none;
                            font-size: 2rem;
                            cursor: pointer;
                            &.btn-disabled{
                                cursor: not-allowed;
                                background: transparent;
                            }
                            &.btn-enabled{
                                @include all.button-like($color: all.$color2);
                                background-color: transparent;
                                cursor: pointer;
                                &:hover{
                                    @include all.push-button();
                                    cursor: pointer;
                                }
                            }
                        }
                    } 
                }    
            // #endregion 
            }
            // #endregion
            // #region RESPONSIVE
            @include all.notebook{
                @include all.d-flex($flexdir: column, $jc: center);
                @include all.paddingLeftRightOnly($pad: 5rem);
                padding-top: 5rem;
                >img.mobile{
                    @include all.square($length: 17rem);
                    transform: rotate(20deg);
                    @include all.adjustTopLeft($left: 20rem);
                    @media (max-width: 510px) {
                        left: 12rem;
                    }
                    @media (max-width: 380px) {
                        left: 8rem;
                    }
                }
                #left-column{
                    width: 100%;
                    .desktop{
                        display: none;
                    }
                }
                #right-column{
                    width: 100%;
                    >img{
                        display: none;
                    }
                    form{
                        #submit-btn{
                            width: 100%;
                            @include all.d-flex($flexdir: row, $alit: center, $jc: space-between);
                            .arrow.mobile{
                                transform: rotate(-20deg);
                                bottom: 3rem;
                                left: 15rem;
                            }                            
                        }
                    }
                }
            }
            @include all.tablet{
                @include all.paddingLeftRightOnly($pad:0);
            }
            // #endregion
        }
        // #region Feedback message
        .feedback{
            width: 100%;
            @include all.d-flex($flexdir: column, $rgap: 5rem);
            .homepage-btn{
                @include all.button-like();
                cursor: pointer;
                &:hover{
                    @include all.push-button();
                }
            }
        }
        // #endregion
    }
}
