<section>
    <div class="content">
        <div class="left">
            <h3>CONTACT ME</h3>
            <h2>Ready to work together?</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt impedit cum temporibus quibusdam ipsam eum cumque, architecto voluptate ut et, quidem molestiae libero maxime fugit! Nobis autem debitis modi?</p>
            <div>
                <img src="./assets/design/05_contact/contact-arrow.png" alt="arrow to contact form">
            </div>
        </div>
        <div class="right">
            <img src="./assets/design/mein-sticker.png" alt="">
            <form action="">
                <label for="name"><h6>What's your name?</h6></label>
                <input type="text">
                <label for="email"><h6>What's your email?</h6></label>
                <input type="text" name="" id="">
                <label for="message"><h6>How can I help you?</h6></label>
                <textarea name="message" id=""></textarea>
                <input type="checkbox" name="" id="" required>
                <button type="submit"></button>
                
            </form>

        </div>
    </div>
</section>
