<section>
    <div class="content">
        <div *ngIf="!hideColumns" class="columns">
        <img class="mobile" src="./assets/design/mein-sticker.png" alt="personal logo">
        <!-- #region INTRODUCTION -->
            <div id="left-column">
                <h3>{{'contact.pagetitle' | translate}}</h3>
                <h2 [innerHTML]="'contact.pagetitlebig' | translate">{{'contact.pagetitlebig' | translate}}</h2>
                <br>
                <p>{{ 'contact.introduction' | translate }}</p>
                <div class="arrow desktop">
                    <img src="./assets/design/05_contact/contact-arrow.png" alt="arrow to contact form">
                </div>
            </div>
        <!-- #endregion -->
        <!-- #region CONTACT FORM -->
            <div id="right-column">
                <img src="./assets/design/mein-sticker.png" alt="personal logo">
                <form (ngSubmit)="onSubmit(contactPage)" #contactPage="ngForm">
                    <!-- #region INPUT NAME -->
                    <div class="input">
                        <label for="name">{{'contact.question_name' | translate}}</label>
                        <input 
                            [(ngModel)]="contactData.name"
                            (ngModelChange)="saveInput()" 
                            type="text"
                            name="name"
                            id="name" 
                            [placeholder]="(name.hasError('required') || name.hasError('invalidPattern')) && name.touched ? '': ('contact.placeholder_name'| translate)"
                            required
                            appPatternValidator="generalName"
                            #name="ngModel">
                        <span *ngIf="name.hasError('required') && name.touched" class="invalid-input">        
                            {{'contact.required_name' | translate}}
                        </span>
                        <span *ngIf="name.hasError('invalidPattern') && name.touched" class="invalid-input">        
                            {{'contact.invalid_name' | translate}}
                        </span>
                    </div>
                    <!-- #endregion -->
                    <!-- #region INPUT EMAIL -->
                    <div class="input">
                        <label for="email">{{'contact.question_email' | translate}}</label>
                        <input 
                            [(ngModel)]="contactData.email"
                            (ngModelChange)="saveInput()"
                            type="text" 
                            name="email" 
                            id="email" 
                            [placeholder]= "email.touched ? '' : ('youremail@email.com')" 
                            required 
                            appPatternValidator="emailFormat"
                            #email="ngModel">
                        <span *ngIf="email.hasError('required') && email.touched" class="invalid-input">
                            {{'contact.required_email' | translate}}
                        </span>
                        <span *ngIf="email.hasError('invalidPattern') && email.touched" class="invalid-input">
                            {{'contact.invalid_email' | translate}}
                        </span>
                    </div>
                    <!-- #endregion -->
                    <!-- #region INPUT TEXT MESSAGE -->
                    <div class="input msg">
                        <label for="message">{{'contact.question_message' | translate}}</label>
                        <textarea 
                            #message="ngModel" 
                            minlength="4" 
                            [(ngModel)]="contactData.message" 
                            (ngModelChange)="saveInput()"
                            name="message" 
                            id="message" 
                            [placeholder]="message.invalid && message.touched ? '': ('contact.placeholder_text'|translate)" 
                            required>
                        </textarea>
                        <span *ngIf="message.invalid && message.touched" class="invalid-input">
                                {{ 'contact.invalid_message' | translate }}
                        </span>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Privacy Policy and SEND button -->
                    <div class="privacy-policy">
                        <input id="confirm" type="checkbox" [(ngModel)]="privacyChecked" (ngModelChange)="saveInput()" name="privacy" />
                        <label for="confirm" [innerHTML]="'contact.privatepolicy'|translate"></label>
                    </div>
                    <div id="submit-btn">
                        <div class="arrow mobile">
                            <img src="./assets/design/05_contact/contact-arrow.png" alt="arrow to contact form">
                        </div>
                        <button 
                            type="submit"
                            [disabled]="!contactPage.valid || !privacyChecked"
                            [ngClass]="{
                                'btn-disabled': !contactPage.valid || !privacyChecked,
                                'btn-enabled': contactPage.valid && privacyChecked
                            }">
                        {{'contact.send' | translate }}</button>
                    </div>
                    <!-- #endregion -->
                </form>
                <!-- #endregion -->
            </div>
        </div>
        <!-- #region Feedback Message -->
        <div *ngIf="!hideFeedback" class="feedback">
            <div class="success">
                <h2>{{ successMessage[0] | translate }}</h2>
                <p>{{ successMessage[1] | translate }}</p>
            </div>
            <div class="error">
                <h2>{{ errorMessage[0] | translate }}</h2>
                <p>{{ errorMessage[1] | translate }}</p>
            </div>
            <button class="homepage-btn" (click)="closeFeedbackPage()">
                {{ 'feedback.button' | translate }}
            </button>
        </div>
        <!-- #endregion -->
    </div>
</section>
