@use './../../../../../public/assets/styles/all-styles.scss' as all;

.single-note{
    background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/A.png');
    background-size: cover;
    width: 45rem;
    height: 29.5rem;
    padding: 4rem;
    overflow: hidden;
    color: all.$color2;
    border-radius: 2.5rem;
    @include all.d-flex($flexdir: column, $jc: space-between, $alit: flex-start);
    >div{
        @include all.d-flex($flexdir: row);
        .with-logo-width{
            @include all.d-flex($flexdir: column, $alit: flex-start);
        }
        .full-width{
            width: 100%;
        }
        >span{
            width: 17rem;
            >a{
                color: all.$color2;
                @include all.d-flex($flexdir:row, $alit:center, $jc: flex-end);
            } 
        }
    }
    &:hover{
        background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/Line.png'), url('./../../../../../public/assets/design/04_testimonials/ColorOption3/A.png');
        background-size: cover;
        filter:brightness(120%) contrast(80%);
        color: all.$color1;
    }
    @media (max-width: 1200px) {
        width: 38rem;
        height: 24.9rem;
        >div{
            >div{
                width: 70%;
            }
        }
    }
    @include all.notebook{
        width: 45rem;
        height: 29.5rem;
    }
    @media (max-width: 460px){
        background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/b-portrait.png');
        @include all.adjustBgImg($pos: center, $height: 47rem);
        width: 31rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        &:hover{
            background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/Line.png'), url('./../../../../../public/assets/design/04_testimonials/ColorOption3/b-portrait.png');
            background-size: cover;
        }
        >div{
            >span{
                a{
                    justify-content: flex-start;
                }
            }
        }
    }
}
