@use './../../../../../public/assets/styles/all-styles.scss' as all;

.single-note{
    background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/A.png');
    background-size: cover;
    width: 50rem;
    height: 33rem;
    padding: 3rem;
    overflow: hidden;
    color: all.$color2;
    @include all.d-flex($flexdir: column, $jc: space-between);
    >div{
        @include all.d-flex($flexdir: row, $jc: space-between);

        >div{
            @include all.d-flex($flexdir: column, $alit: flex-start);
        }
        >span{
            width: 20rem;
            >a{
                color: all.$color2;
                @include all.d-flex($flexdir:row, $alit:center, $jc: flex-end);
            } 
        }
    }
}
.active{
    background: url('./../../../../../public/assets/design/04_testimonials/ColorOption3/Line.png'), url('./../../../../../public/assets/design/04_testimonials/ColorOption3/A.png'),;
    background-size: cover;
}