@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: all.$color2;
    width: 100%;
    color: all.$color1;
    min-height: 120vh; // Section nimmt mindestens die volle Viewport-Höhe ein
    @include all.d-flex($alit: center);
    .content{
        width: 100%;
        height: auto;
        max-width: 1920px;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        margin-bottom: 4rem; // Abstand nach unten
        div{
            width: 70rem;
            padding: 2rem;
            @include all.d-flex($flexdir: column, $alit: flex-start);
            app-single-project-intro{
                width: 100%;
                min-height: 40dvh; 
            }
        }
    }
}

#top-left{
    justify-content: center;
    >div{
        width: 0;
        height: auto;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        animation-name: left-to-right;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        img{
            width: 25rem;
            height:3rem;
        }
    }
    p{
        padding-top: 5rem;
    }
}