<section>
    <div class="content">
        <div id="back-btn">
            <a href="">
                <img src="./assets/design/03_portfolio/Breadcrumb_arrow_3.png" alt="{{'imprint.back'|translate}}">
                <h6>{{'imprint.back'|translate}}</h6>
            </a>
        </div>
        <div class="main-div">
            <div class="left-column">
                <div class="project-title">
                    <h2>El Pollo Loco</h2>
                    <div class="line-div">
                        <img src="./assets/design/01_about_me/Color option 3.png" alt="underline about me">
                    </div>
                </div>
                <h4>{{'portfolio.description' | translate}}</h4>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                <h4>{{'portfolio.implementation' | translate}}</h4>
                <p>The project was build as a group task. While building a web-app using HTML, CSS, JavaScript and Firebase, working together as a team and get familiar with GitHub to work in a group project was a strong focus on this project. My task was to ...</p>
                <span><h6>{{'portfolio.duration'|translate}}</h6> 3 weeks</span>
                <div class="required-skills">
                    <app-required-skills></app-required-skills>
                    <app-required-skills></app-required-skills>
                </div>
            </div>
            <div class="right-column">
                <div class="project-screenshot">
                    <img class="screenshot" src="./assets/design/03_portfolio/startscreen_1.png" alt="">
                    <img class="stamps" src="./assets/design/mein-sticker-2.png" alt="">
                </div>
                <div class="github-livetest">
                    <div class="button-like-white">
                        <a href="">GitHub</a>
                    </div>
                    <div class="button-like-white">
                        <a href="">LiveTest</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="next">
            <a href="">
                <h6>{{'portfolio.next'|translate}}</h6>
                <img src="./assets/design/03_portfolio/Next project arrow 3.png" alt="{{'portfolio.next'|translate}}">
            </a>
        </div>
    </div>
</section>
