@use './../../../public/assets/styles/all-styles.scss' as all;

section{
    background: url('./../../../public/assets/design/03_portfolio/Notebookpaper.png');
    background-color: black;
    @include all.adjustBgImg($pos:left, $height: auto);
    min-height: calc(100dvh - 10dvh - 15rem);
    .content{
        padding: 5rem 10rem 5rem 10rem; 
        @include all.d-flex($flexdir:column, $alit: flex-start, $jc: space-between, $rgap: 8rem);
        .mobile{
            display: none;
        }
        #back-btn{
            a{
                @include all.d-flex($flexdir: row, $jc: flex-start, $alit:center, $cgap: 1rem);
                color: all.$color1;
                img{
                    height: 4rem;
                }
            }
        }
        .main-div{
            width: 100%;
            @include all.d-flex($flexdir: row, $jc: space-between, $cgap:2rem);
            // #region Project summary
            .left-column{
                width: 45%;
                @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 2rem);
                .project-title{
                    width: 100%;
                    .line-div{
                        width: 100%;
                        img{
                            width: 80%; 
                            height: 3rem;
                        }
                    }
                }
                span{
                    @include all.d-flex($flexdir:row, $cgap: 0.5rem);
                }
                .required-skills{
                    width: 100%;
                    @include all.d-flex($flexdir: row, $jc: flex-start, $cgap: 2rem);
                }
            }
            // #endregion
            // #region Project Image
            .right-column{
                width: 45%;
                @include all.d-flex($flexdir:column, $alit: flex-end, $jc: center, $rgap: 5rem);
                .project-screenshot{
                    @include all.d-flex($flexdir:column, $alit: flex-end, $jc: center);
                    .screenshot{
                        width: 45rem;
                        border-radius: 2.5rem;
                    }
                    .stamps{
                        @include all.square($length:15rem);
                        position: absolute;
                        right: -7rem;
                    }
                }
                .github-livetest{
                    @include all.d-flex($flexdir: row, $cgap: 3rem);
                    .button-like-white{
                        @include all.button-like();
                        a{
                            color: all.$color2;
                        }
                        &:hover{
                            @include all.push-button();
                        }
                    }
                }
            }
        }
        // #endregion
        #next{
            width: 100%;
            @include all.d-flex($flexdir:row, $jc: flex-end);
            a{
                @include all.d-flex($flexdir:row, $cgap: 1rem);
                color: all.$color2;
                img{
                    height: 4rem;
                }
            }
            @include all.notebook{
                display: none;
            }
        }
    }
    // #region Media View
    @include all.notebook{
        background: url('./../../../public/assets/design/03_portfolio/Notebookpaper-portrait.png');
        background-color: black;
        @include all.adjustBgImg($pos: top);
        height: auto;
        min-height: calc(100dvh - 10dvh - 15rem);
        .content{
            padding-top: 0;
            .desktop{
                display: none;   
            }
            .main-div{
                @include all.d-flex($flexdir: column, $rgap: 4rem);
                width: 100%;
                .left-column{
                    width: 100%;
                    .required-skills{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: flex-start, $cgap: 2rem);
                    }
                }
                .right-column{
                    width: 100%;
                    @include all.d-flex($flexdir: column, $jc: center, $rgap:4rem);
                    .project-screenshot{
                        width: 100%;
                        @include all.d-flex($jc: center);
                        .stamps{
                            display: none;
                        }
                    }
                    .github-livetest{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: flex-end, $cgap: 8rem);
                    }
                }
            }
            .mobile{
                @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);
                width: 100%;
                div{
                    @include all.d-flex($flexdir: row, $alit: center, $cgap: 1rem);
                    width: 100%;
                    a{
                        h6{
                            color: all.$color2;
                        }
                        img{
                            height: 4rem;
                        }
                    }
                }
            }
        }
        @include all.tablet{
            background: url('./../../../public/assets/design/03_portfolio/mobile_project.png');
            background-color: black;
            background-size: cover;
            background-position: center;
            .content{
                @include all.paddingLeftRightOnly($pad: 5rem);
            }
            
        }    
        @include all.mobile {
            .content{
                @include all.paddingLeftRightOnly($pad: 3rem);  
                .main-div{
                    .left-column{
                        .required-skills{
                            @include all.d-flex($flexdir: row, $cgap: 1rem, $rgap: 1rem);
                            flex-wrap: wrap;
                        }
                        
                    }
                    .right-column{
                        .github-livetest{
                            width: 100%;
                            @include all.d-flex($flexdir: row, $jc: flex-end, $cgap: 8rem);
                        }
                    }
                }
            }
        }
        // #endregion 
    }
}