<section>
    <div class="content">
        <div id="back-btn" class="desktop">
            <a href="{{proj?.link_back}}">
                <img src="./assets/design/03_portfolio/Breadcrumb_arrow_3.png" alt="{{'imprint.back'|translate}}">
                <h6>{{'portfolio.previous'|translate}}</h6>
            </a>
        </div>
        <div class="main-div">
            <!-- #region Project Summary -->
            <div class="left-column">
                <div class="project-title">
                    <h2>{{proj?.projname}}</h2>
                    <div class="line-div">
                        <img src="./assets/design/01_about_me/Color option 3.png" alt="underline project name" [style.width.%]="proj?.projname ? setUnderlineWidth() : 0">
                    </div>
                </div>
                <h4>{{'portfolio.description' | translate}}</h4>
                <p>{{proj?.desc|translate}}</p>
                <h4>{{'portfolio.implementation' | translate}}</h4>
                <p>{{proj?.details|translate}}</p>
                <span>
                    <h6>{{'portfolio.duration'|translate}}</h6>
                    {{proj?.duration|translate}} 
                </span>
                <div class="required-skills">
                    <app-required-skills *ngIf="proj?.html" [icon]="html!"></app-required-skills>
                    <app-required-skills *ngIf="proj?.css" [icon]="css!"></app-required-skills>
                    <app-required-skills *ngIf="proj?.js" [icon]="js!"></app-required-skills>
                    <app-required-skills *ngIf="proj?.angular" [icon]="angular!"></app-required-skills>
                    <app-required-skills *ngIf="proj?.ts" [icon]="ts!"></app-required-skills>
                    <app-required-skills *ngIf="proj?.firebase" [icon]="firebase!"></app-required-skills>
                </div>
            </div>
            <!-- #endregion -->
            <!-- #region Project Image -->
            <div class="right-column">
                <div class="project-screenshot">
                    <img class="screenshot" src="{{proj?.imgPath}}" alt="{{proj?.altText}}">
                    <img class="stamps" [src]="proj?.ihk ? './assets/design/03_portfolio/ihk-sticker.png' : './assets/design/mein-sticker-2.png'" alt="stamp">
                </div>
                <div class="github-livetest">
                    <div class="button-like-white">
                        <a href="{{proj?.link_github}}" target="_blank">GitHub</a>
                    </div>
                    <div class="button-like-white">
                        <a href="{{proj?.link_livetest}}" target="_blank">LiveTest</a>
                    </div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <div id="next" class="desktop">
            <a href="{{proj?.link_next}}">
                <h6>{{'portfolio.next'|translate}}</h6>
                <img src="./assets/design/03_portfolio/Next project arrow 3.png" alt="{{'portfolio.next'|translate}}">
            </a>
        </div>
        <!-- #region PREVIOUS/NEXT ARROW for mobile view -->
        <div id="previous-next-button" class="mobile">
            <div id="back-btn-mobile">
                <a href="{{proj?.link_back}}">
                    <img src="./assets/design/03_portfolio/Breadcrumb_arrow_3.png" alt="{{'imprint.back'|translate}}">
                    <h6>{{'portfolio.previous'|translate}}</h6>
                </a>
            </div>
            <div id="next-btn-mobile">
                <a href="{{proj?.link_next}}">
                    <h6>{{'portfolio.next'|translate}}</h6>
                    <img src="./assets/design/03_portfolio/Next project arrow 3.png" alt="{{'portfolio.next'|translate}}">
                </a>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</section>
