<div class="navbar">
    <a href="#about-me">
        <img class="circle" src="./assets/design/00_header/1.png" alt="">
        <h6>About me</h6>
    </a>
    <a href="#skills">
        <img class="underline" src="./assets/design/00_header/2.png" alt="">
        <h6>Skills</h6>
    </a>
    <a href="#projects">
        <img class="underline" src="./assets/design/00_header/3.png" alt="">
        <h6>Projects</h6>
    </a>
    <a href="#contact">
        <img class="underline" src="./assets/design/00_header/4.png" alt="">
        <h6>Contact</h6>
    </a>
</div>
