@use './../../../../../public/assets/styles/all-styles.scss' as all;

.navbar{
    width: 100%;
    @include all.d-flex($jc: space-around, $alit: center, $flexdir: row);
    a{
        @include all.d-flex($alit: center);
        div{
            position: absolute;
            opacity: 0;
            @include all.d-flex($jc:space-around, $alit: center);
            img{
                width: 12rem;
                height: 4rem;
            }
        }
        .circle{
            height: 0;
            width: 12rem;
            top: -1rem;
        }
        .underline{
            width: 0;
        }
        h6{
            color: all.$color2;
            text-align: center;
        }
        &:hover .circle{
            animation: updown;
            animation-duration: 1s;
            transition: 0.5s;
            animation-fill-mode: forwards;
            opacity: 1;
        }
        &:hover .underline{
            animation: left-to-right;
            transition: 1s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            opacity: 1;
        }
    }
}
