<div class="navbar">
    <a href="#about-me">
        <img class="circle" src="./assets/design/00_header/1.png" alt="">
        <h6>{{ 'navbar.aboutme' | translate }}</h6>
    </a>
    <a href="#skills">
        <img class="underline" src="./assets/design/00_header/2.png" alt="">
        <h6>{{ 'navbar.skills' | translate }}</h6>
    </a>
    <a href="#projects">
        <img class="underline" src="./assets/design/00_header/3.png" alt="">
        <h6>{{ 'navbar.projects' | translate }}</h6>
    </a>
    <a href="#contact">
        <img class="underline" src="./assets/design/00_header/4.png" alt="">
        <h6>{{ 'navbar.contact' | translate }}</h6>
    </a>
</div>
