<div class="navbar">
    <a href="#about-me">
        <div class="circle">
            <img src="./assets/design/00_header/1.png" alt="marking about me">
        </div>
        <h6>{{ 'navbar.aboutme' | translate }}</h6>
    </a>
    <a href="#skills">
        <div class="underline">
            <img src="./assets/design/00_header/2.png" alt="marking skills">
        </div>
        <h6>{{ 'navbar.skills' | translate }}</h6>
    </a>
    <a href="#projects">
        <div class="underline">
            <img src="./assets/design/00_header/3.png" alt="marking projects">
        </div>
        <h6>{{ 'navbar.projects' | translate }}</h6>
    </a>
    <a href="#contact">
        <div class="underline">
            <img src="./assets/design/00_header/4.png" alt="marking contact">
        </div>
        <h6>{{ 'navbar.contact' | translate }}</h6>
    </a>
</div>
