@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: all.$color2;
    color: all.$color1;
    .content{
        @include all.d-flex($flexdir:column, $jc: flex-start, $alit: flex-end);
        padding: 0 10rem 0 10rem;
        .h3{
            @include all.d-flex($flexdir: row);
            >.arrow{
                // animation-name: left-to-right;
                // animation-direction: alternate-reverse;
                // animation-duration: 3s;
                // animation-iteration-count: infinite;
                >img{
                    width: 10rem;
                }
            }
        }
        .testimonial-sect{
            @include all.d-flex($flexdir: row);
            margin-top: 4rem;
            #colleague1{
                position: absolute;
                transform: rotate(-4deg);
                left: -112rem;
                top: 0rem;
                // z-index: 4;
            }
            #colleague2{
                position: absolute;
                left: -75rem;
                top: 5rem;
            }
            #colleague3{
                position: absolute;
                transform: rotate(4deg);
                left:-45rem;
                top: 0rem;
            }
        }
    }
}
app-notes{
        &:hover{
        // background: url('./../../../../public/assets/design/04_testimonials/ColorOption3/Line.png'), url('./../../../../public/assets/design/04_testimonials/ColorOption3/A.png'),;
        // background-size: cover;
        // backdrop-filter: brightness(90%);
        filter: brightness(90%);
        z-index: 20;
    }
    
}