<section>
    <div class="content">
        <div class="h3">
            <div class="arrow">
                <img src="./assets/design/04_testimonials/ColorOption3.png" alt="Arrow to colleagues's thoughts">
            </div>
            <h3>IN THEIR WORDS:</h3>
        </div>
        <h2>Colleagues' Thoughts</h2>
        <div class="testimonial-sect">
            <app-notes id="colleague1"></app-notes>
            <app-notes id="colleague2"></app-notes>
            <app-notes id="colleague3"></app-notes>
        </div>
    </div>
</section>
