<section>
    <div class="content">
        <div class="h3">
            <div class="arrow">
                <img src="./assets/design/04_testimonials/ColorOption3.png" alt="Arrow to colleagues's thoughts">
            </div>
            <h3>{{ 'testimonials.intheirwords' | translate }}</h3>
        </div>
        <h2>{{ 'testimonials.thoughts' | translate }}</h2>
        <div class="testimonial-sect">
            <app-notes id="colleague1" [singletesti]="colleague1!"></app-notes>
            <app-notes id="colleague2" [singletesti]="colleague2!"></app-notes>
            <app-notes id="colleague3" [singletesti]="colleague3!"></app-notes>
        </div>
    </div>
</section>
