@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: white;
    width: 100%;
    @include all.d-flex($alit: center);
    .content{
        width: 100%;
        height: auto;
        min-height: 50dvh;
        max-width: 1920px;
        padding-left: 15rem;
        padding-right: 15rem;
        gap: 10rem;
        .left{
            width: 50%;
            height: 100dvh;
            @include all.d-flex($flexdir: column, $jc: center, $alit: center);
            div{
                width: 90%;
                width: 56rem;
                height: 15rem;
                // position: absolute;
                @include all.d-flex($alit: center, $jc: center);
                .label{
                    width: 56rem;
                    height: 15rem;
                }
                p{
                    z-index: 4;
                    font-size: 2.4rem;
                    position: absolute;
                    // top: -11rem;
                    width: 56rem;
                    height: 15rem;
                    @include all.d-flex($flexdir: row, $alit: center, $jc: center, $cgap: 2rem);
                    color: all.$color2;
                    .innertext-logo{
                        height: 3rem;
                    }
                }
            }
            #upper{
                transform: rotate(-4deg);
                top: -25rem;
            }
            #lower{
                transform: rotate(4deg);
                top: 27rem;
            }
            
            
        }
        .right{
            width: 50%;
            height: 100dvh;
            @include all.d-flex($flexdir: column, $alit: left);
            h2{
                &:hover ~.line-div{
                    animation: left-to-right;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    opacity: 1;
                }
            }
            .line-div{
                width: 0;
                opacity: 0;
                overflow: hidden;
                img{
                    width: 32rem;
                }
            }
            .first{
                padding-top: 5rem;
                padding-bottom: 1rem;
            }
            .last{
                padding-top: 1rem;
                padding-bottom: 5rem;
            }
            .button-div{
                @include all.d-flex($jc: flex-end, $flexdir: row);
                >.button-like-black{
                    @include all.button-like($color: all.$color1);
                    a{
                        color: all.$color1;
                    }
                    &:hover{
                        background: all.$highlight3;
                        box-shadow: 0 0;
                        top: 0.5rem;
                        left: 0.5rem;
                    }
                }
            }
        }
    }
}