@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: all.$color2;
    height: auto;
    min-height: 40dvh;
    .content{
        max-width: 1920px;
        padding: 10rem;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: center, $cgap: 5rem);
        @media (max-width: 1240px) {
            padding-right: 5rem;   
        }
        // #region POST-IT
        .left-column{
            width: 40%;
            @include all.d-flex($flexdir: column, $jc: center, $alit: center);
            .postit{
                width: 52rem;
                height: 15rem;
                @media (max-width: 1240px) {
                    width: 50rem;  
                }
                @include all.d-flex($flexdir: row, $alit: center, $jc: center);
                .label{
                    width: 52rem;
                    height: 15rem;
                    @media (max-width: 1240px) {
                        width: 50rem;  
                    }
                }
                
                p{
                    z-index: 4;
                    font-size: 2.2rem;
                    position: absolute;
                    bottom: 7rem;
                    @include all.d-flex($flexdir: row, $alit: center, $jc: center, $cgap: 1rem);
                    color: all.$color2;
                    .innertext-logo{
                        height: 3rem;
                    }
                }
            }
            #upper{
                transform: rotate(-4deg);
                top: -25rem;
            }
            #lower{
                transform: rotate(4deg);
                top: 27rem;
            }
        }
        // #endregion
        // #region ABOUT ME
        .right-column{
            width: 50%;
            @include all.d-flex($flexdir: column, $alit: left);
            .line-div{
                @include all.left-to-right-animation();
                img{
                    width: 32rem;
                    @include all.mobile{
                        width: 26rem;
                    }
                }
            }
            .first{
                padding: 5rem 0 1rem 0;
            }
            .last{
                padding: 1rem 0 5rem 0;
            }
            .button-div{
                @include all.d-flex($jc: flex-end, $flexdir: row);
                >.button-like-black{
                    @include all.button-like($color: all.$color1);
                    &:hover{
                        @include all.push-button($color: all.$color1);
                    }
                }
            }
        }
        // #endregion
        // #region OTHER MEDIA VIEW
        @include all.notebook{
            @include all.d-flex($flexdir:column-reverse, $jc: center, $rgap: 5rem);
            @include all.paddingLeftRightOnly($pad:10rem);
            @include all.mobile{
                @include all.paddingLeftRightOnly($pad:5rem);
            }
            .right-column{
                width: 100%;
            }
            .left-column{
                .postit{
                    width: 52rem;
                    .label{
                        width: 52rem;
                    }
                    @media (max-width: 490px) {
                        width: 48rem;
                        .label{
                            width: 48rem;
                        }
                        p{
                            font-size: 2rem;
                        }
                    }
                    @media (max-width: 402px){
                        width: 35rem;
                        overflow-wrap: break-word;
                        .label{
                            width: 35rem;
                        }
                        p{
                            max-width: 25rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
        
    }
}