@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: white;
    .content{
        height: auto;
        min-height: 100dvh;
        max-width: 1920px;
        padding: 10rem;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);
        gap: 5rem;
        .left-column{
            width: 50%;
            @include all.d-flex($flexdir: column, $jc: center, $alit: center);
            .postit{
                width: 52rem;
                height: 15rem;
                @include all.d-flex($flexdir: row, $alit: center, $jc: center);
                .label{
                    width: 52rem;
                    height: 15rem;
                }
                p{
                    z-index: 4;
                    font-size: 2.2rem;
                    position: absolute;
                    bottom: 7rem;
                    @include all.d-flex($flexdir: row, $alit: center, $jc: center, $cgap: 1rem);
                    color: all.$color2;
                    .innertext-logo{
                        height: 3rem;
                    }
                }
            }
            #upper{
                transform: rotate(-4deg);
                top: -25rem;
            }
            #lower{
                transform: rotate(4deg);
                top: 27rem;
            }
        }
        .right-column{
            width: 50%;
            @include all.d-flex($flexdir: column, $alit: left);
            .line-div{
                @include all.left-to-right-animation();
                img{
                    width: 32rem;
                }
            }
            .first{
                padding-top: 5rem;
                padding-bottom: 1rem;
            }
            .last{
                padding-top: 1rem;
                padding-bottom: 5rem;
            }
            .button-div{
                @include all.d-flex($jc: flex-end, $flexdir: row);
                >.button-like-black{
                    @include all.button-like($color: all.$color1);
                    a{
                        color: all.$color1;
                    }
                    &:hover{
                        background: all.$highlight3;
                        box-shadow: 0 0;
                        top: 0.5rem;
                        left: 0.5rem;
                    }
                }
            }
        }
    }
}