<section>
    <div class="content">
        <div class="left-column">
            <div class="postit" id="lower">
                <img class="label"src="./assets/design/01_about_me/2.png" alt="post-it #3">
                <p><img class="innertext-logo" src="./assets/icons/relocation.png" alt="{{'aboutme.sym_relocation'|translate}}">{{'aboutme.onsite'|translate}}</p>
            </div>
            <div class="postit" id="middle">
                <img class="label" src="./assets/design/01_about_me/3.png" alt="post-it #2">
                <p><img class="innertext-logo" src="./assets/icons/statusremote.png" alt="{{'aboutme.sym_remote'|translate}}">{{'aboutme.workremote'|translate}}</p>
            </div>
            <div class="postit" id="upper">
                <img class="label" src="./assets/design/01_about_me/1.png" alt="post-it #1">
                <p><img class="innertext-logo" src="./assets/icons/homebase.png" alt="{{'aboutme.sym_home'|translate}}">{{'aboutme.homebase'|translate}}</p>
            </div>
        </div>
        <div class="right-column">
            <h3>{{ 'aboutme.whois' | translate}}</h3>
            <h2>{{ 'navbar.aboutme' | translate }}</h2>
            <div class="line-div">
                <img src="./assets/design/01_about_me/Color option 3.png" alt="underline about me">
            </div>
            <p class="first">{{'aboutme.text1' | translate}} </p>
            <p>{{'aboutme.text2' | translate}} </p>
            <p class="last">{{'aboutme.text3' | translate }}</p>
            <div class="button-div">
                <div class="button-like-black">
                    <a href="#contact">{{ 'aboutme.letstalk' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    
    
</section>

