<section>
    <div class="content">
        <div class="left">
            <div id="lower">
                <img class="label"src="./assets/design/01_about_me/2.png" alt="">
                <p><img class="innertext-logo" src="./assets/icons/statusremote.png" alt=""></p>
            </div>
            <div id="middle">
                <img class="label" src="./assets/design/01_about_me/3.png" alt="">
                <p><img class="innertext-logo" src="./assets/icons/statusremote.png" alt="">Open to work remote</p>
            </div>
            <div id="upper">
                <img class="label" src="./assets/design/01_about_me/1.png" alt="">
                <p><img class="innertext-logo" src="./assets/icons/homebase.png" alt="">Based in Cologne</p>
            </div>
        </div>
        <div class="right">
            <h3>{{ 'aboutme.whois' | translate}}</h3>
            <h2>{{ 'navbar.aboutme' | translate }}</h2>
            <div class="line-div">
                <img src="./assets/design/01_about_me/Color option 3.png" alt="">
            </div>
            
            <p class="first">{{'aboutme.text1' | translate}} </p>
            <p>{{'aboutme.text2' | translate}} </p>
            <p class="last">{{'aboutme.text3' | translate }}</p>
            <div class="button-div">
                <div class="button-like-black">
                <a href="#contact">{{ 'aboutme.letstalk' | translate }}</a>
            </div>
            </div>
            
        </div>
    </div>
    
    
</section>

