<section>
    <div class="content">
        <div class="maintitle">
            <div class="top">
                <div id="image-and-name">
                    <img src="./assets/design/00_header/polaroid_fpt.png" alt="Photo of Felicia">
                    <h5 class="before">Felicia :)</h5>
                    <h5 class="after">Felicia :D</h5>
                </div>
                <div class="align-left">
                    <div class="button-like-white">
                        <span class="before">Hello World</span>
                        <span class="after">{{ 'landingpage.hello' | translate}}</span>
                    </div>
                    <img class="wavehand" src="./assets/icons/waving_hand.png" alt="{{'landingpage.altHand'|translate}}">
                    <div class="frontend">
                        <!-- <h1>Frontend</h1> -->
                        <span>
                            <h1 class="before">F</h1>
                            <h1 class="after">f</h1>
                        </span>
                        <span>
                            <h1 class="before">r</h1>
                            <h1 class="after">R</h1>
                        </span>
                        <span>
                            <h1 class="before">o</h1>
                            <h1 class="after">O</h1>
                        </span>
                        <span>
                            <h1 class="before">n</h1>
                            <h1 class="after">N</h1>
                        </span>
                        <span>
                            <h1 class="before">t</h1>
                            <h1 class="after">T</h1>
                        </span>
                        <span>
                            <h1 class="before">e</h1>
                            <h1 class="after">E</h1>
                        </span>
                        <span>
                            <h1 class="before">n</h1>
                            <h1 class="after">N</h1>
                        </span>
                        <span>
                            <h1 class="before">d</h1>
                            <h1 class="after">D</h1>
                        </span>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="developer">
                    <h1>D</h1>
                    <h1>E</h1>
                    <h1>V</h1>
                    <h1>E</h1>
                    <h1>L</h1>
                    <h1>O</h1>
                    <h1>P</h1>
                    <h1>E</h1>
                    <h1>R</h1>
                </div>
                <div class="button-like-white">
                    <a href="">{{ 'landingpage.contact' | translate }}</a>
                </div>
            </div>
        </div>
        <div class="extern-profiles">
            <a href="https://www.linkedin.com/in/felicia-primadita-tretter/"><img src="./assets/icons/icon_LinkedIn.png" alt="go to LinkedIn profile"></a>
            <a href="https://github.com/primadita"><img src="./assets/icons/icon_GITHUB_small.png" alt="go to Github profile"></a>
            <a href="mailto:felicia.primadita@web.de"><img src="./assets/icons/icon_Email.png" alt="send Felicia an email to felicia.primadita@web.de"></a>
        </div>
    </div>
    
</section>
