@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: url(./../../../../public/assets/design/00_header/01_Hero.png);
    @include all.adjustBgImg($height: auto);
    min-height: calc(100dvh - 10dvh);
    .content{
        @include all.d-flex($jc:center, $alit: center);
        // #region MAIN AREA - DESKTOP VIEW
        .maintitle{
            width: 100%;
            max-width: 100rem;
            padding: 3rem;
            @include all.d-flex($flexdir:column);
            .top-row{
                width: 100%;
                #image-and-name{
                    z-index: 2;
                    position: absolute;
                    width: 22rem;
                    bottom: 0;
                    right: 5rem;
                    transform: rotate(10deg);
                    @include all.d-flex($flexdir: column, $alit: center);
                    img{
                        width: 100%;
                        filter: grayscale(100%);
                    }
                    h5{
                        position: absolute;
                        top: 22rem;
                        left: 12rem;
                        transform: translate(-50%, 0);
                        z-index: 3;
                    }
                    h5.after{
                        display: none;
                    }
                    &:hover{
                        img{
                            filter: grayscale(0);
                        }
                        h5.before{
                            display: none;
                        }
                        h5.after{
                            display: flex;
                        }
                    }
                }
                .align-left{
                    width: 100%;
                    @include all.d-flex($alit: flex-start, $jc: center, $gap: 2rem);
                    .wavehand{
                        position: absolute;
                        left: 12rem;
                        bottom: 20rem;
                        opacity: 0;
                        transition: 500ms;
                    }
                    .button-like-white{
                        @include all.button-like($color: all.$color2, $shadow:0);
                        transition: 500ms;
                        .after{
                            display: none;
                        }
                        &:hover{
                            background: all.$highlight2;
                            .before{
                                display: none;
                            }
                            .after{
                                display: flex;
                            }
                        }
                        &:hover ~.wavehand{
                            opacity: 1;
                            animation: wave-in 0.5s forwards;
                            animation-iteration-count: 1;
                        }
                        &:not(:hover) ~.wavehand{
                            animation: wave-out 0.5s forwards;
                            animation-iteration-count: 1;
                        }
                        
                    }
                    .frontend{
                        @include all.d-flex($flexdir: row);
                        span{
                            transition: 400ms;
                            .after{
                                display: none;
                            }
                            &:hover{
                                .before{
                                    display: none;
                                }
                                .after{
                                    display: flex;
                                    color: #24dd80;
                                }
                            }
                        }
                    }
                }
            }
            .bottom-row{
                width: 100%;
                @include all.d-flex($alit: flex-end, $jc: center, $gap: 2rem);
                .developer{
                    @include all.d-flex($flexdir:row);
                    h1{
                        &:hover{
                            animation: change-to-lowercase 400ms forwards;
                        }
                    }
                }
                .button-like-white{
                    @include all.button-like($color: white);
                    &:hover{
                        @include all.push-button();
                    }
                }
            }
            // #endregion
            // #region NOTEBOOK VIEW
            @include all.notebook{
                max-width: 75rem;
                .top-row{
                    #image-and-name{
                        width: 20rem;
                        right: 0;
                        img{
                            animation: grayscale-animation 5s forwards;
                            animation-iteration-count: 1;
                        }
                        h5{
                            top: 20rem;
                            left: 10rem;
                        }
                        h5.before{
                            opacity: 1;
                            animation: switch-to-none 4s forwards;
                            animation-iteration-count: 1;
                        }
                        h5.after{
                            display: flex;
                            opacity: 0;
                            animation: switch-to-flex 4s forwards;
                            animation-iteration-count: 1;
                        }
                    }
                    .align-left{
                        .button-like-white{
                            // .before{
                            //     animation: switch-to-none 4s forwards;
                            //     animation-iteration-count: 1;
                            // }
                            // .after{
                            //     opacity: 0;
                            //     // display: flex;
                            //     animation: switch-to-flex 4s forwards;
                            //     animation-iteration-count: 1;
                            // }
                        }
                        
                    }
                }
            }
            // #endregion
            // #region MOBILE VIEW
            @include all.mobile{
                width: 100%;
                height: calc(100dvh - 10dvh);
                @include all.d-flex($flexdir: column, $jc: flex-start);
                padding: 5rem 4rem 5rem 4rem;
                .top-row{
                    @include all.d-flex($flexdir: column);
                    #image-and-name{
                        width: 22rem;
                        top: 50rem;
                        left: 5rem;
                        h5{
                            top: 8rem;
                            left:11rem;
                        }
                    }
                    .align-left{
                        @include all.d-flex($flexdir: column, $alit: flex-start,$rgap: 2rem);
                        .wavehand{
                            bottom: 12.5rem;
                            left: 12rem;
                        }
                        .frontend{
                            span{
                                .after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .bottom-row{
                    @include all.d-flex($flexdir: column, $alit: flex-end, $rgap: 2rem);
                }
            }
        }
        // #endregion
        // #region EXTERNAL LINKS
        .extern-profiles{
            position: absolute;
            bottom: 10rem;
            left: 5rem;
            @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 1rem);
            a{
                @include all.d-flex($alit: center, $jc: center);
                @include all.button-like($color: white, $pad: 0.2rem, $shadow: 0);
                cursor: pointer;

                img{
                    @include all.square($length: 4rem);
                }
                &:hover{
                    background: #1aa8b5;
                }
            }
            @include all.bigscreen{
                bottom: 70rem;
                left: 30rem;
            }
            @include all.mobile{
                display: none;
            }
        }
        // #endregion
    }
}
