// #region GLOBAL VARIABLES
$font1: 'Bricolage Grotesque';
$font2: 'Kalam';
$bold: 700;
$medium: 500;
$regular: 400;
$color1: black;
$color2: white;
$highlight1: #24dd80;
$highlight2: #1aa8b5;
$highlight3: #1073ea;
// #endregion