<section id="pagetitle">
  <div class="content">
    <h2>{{'imprint.title'|translate}}</h2>
  </div>
</section>
<section id="pagecontent">
  <div class="content">
    <div id="back-btn">
      <a href="#contact">
        <img src="./assets/design/03_portfolio/Breadcrumb_arrow_3.png" alt="{{'imprint.back'|translate}}">
        <h6>{{'imprint.back'|translate}}</h6>
      </a>
    </div>
    <h4>{{'imprint.lead1' | translate}}</h4>
    <p>
      Felicia Primadita Tretter <br />
      Wuppertaler Straße 30a <br />
      DE-51067 Cologne <br />
    </p>

    <h4>{{'imprint.lead2' | translate}}</h4>
    <p>Email: felicia.primadita&#64;web.de</p>

    <h4>{{'imprint.lead2' | translate}}</h4>
    <p>{{'imprint.text3' | translate}}</p>

    <h4>{{'imprint.lead4' | translate}}</h4>
    <p>{{'imprint.text4' | translate}}</p>
    <p>{{'imprint.text5' | translate}}</p>

    <h4>{{'imprint.lead6' | translate}}</h4>
    <p>{{'imprint.text6' | translate}}</p>

    <h4>{{'imprint.lead7' | translate}}</h4>
    <p>{{'imprint.text7' | translate}}</p>
    <h4>{{'imprint.lead8' | translate}}</h4>
    <p>{{'imprint.text8' | translate}}</p>
    <h4>{{'imprint.lead9' | translate}}</h4>
    <p>{{'imprint.text9' | translate}}</p>
    <p>{{'imprint.text10' | translate}}</p>
    <br>
    <p>{{'imprint.text11' | translate}}</p>  
  </div>
</section>
