@use './../../../../../public/assets/styles/all-styles.scss' as all;

.project-details-button-white{
    width: 18rem;
    height: 5rem;
    cursor: pointer;
    @include all.button-like();
}
.project-details-button-black{
    width: 18rem;
    height: 5rem;
    cursor: pointer;
    @include all.button-like(all.$color1);
}

div{
    @include all.d-flex($alit:flex-start, $jc: center, $flexdir: column, $rgap: 2rem);
    .img-div{
        width: 100%;
        height: 39.8rem;
        overflow: hidden;
        transition: 650ms ease;
        border-radius: 2.5rem;
        @include all.d-flex();
        .project-screenshot{
            width: 100%;
            height: 39.8rem;
        }
        #ihk-sticker{
            position: absolute;
            width: 15rem;
            left: 0;
        }
        .shadow-layer{
            width: 100%;
            height: 39.8rem;
            position: absolute;
        }
        .project-details-button-white{
            display: none;
        }
        &:hover{
            .project-screenshot{
                transform: scale(1.2);
            }
            .shadow-layer{
                background:  linear-gradient(180deg,rgba(255, 255, 255, 0) 38%, rgba(48, 48, 48, 0.75) 100%);
            }
            .project-details-button-white{
                display: flex;
                position: absolute;
                right: 5rem;
                bottom: 5rem;
                &:hover{
                    box-shadow: 0 0;
                    background: all.$highlight3 ;
                    right: 4.5rem;
                    bottom: 4.5rem;
                }
            }
        }
    }
    .mobile{
        display: none;
    }
    @include all.notebook{
        .img-div{
            >.project-details-button-white{
                display: none;   
            }
            &:hover{
                .project-details-button-white{
                    display: none;
                }
            }
        }
        .mobile{
            @include all.d-flex();
            width: 18rem;
            right: -60%;
            &:hover{
                @include all.push-button($color: all.$color1, $bgc: transparent);
                left: calc(55% + 4rem);
            }
            @include all.mobile{
                right: -45%;
                &:hover{
                    left: calc(38% + 4rem);
                }
            }
            @media (max-width: 360px) {
                right: -38%;
                &:hover{
                    left: calc(29% + 4rem);
                }
            }
        }
    }
    @include all.mobile{
        .img-div{
            height: 30rem;
            .project-screenshot{
                height: 30rem;
            }
        }
    }
}