@use './../../../../../public/assets/styles/all-styles.scss' as all;

div{
    width: 100%;
    height: 50dvh;
    @include all.d-flex($alit:flex-start, $jc: flex-start, $flexdir: column, $rgap: 2rem);
    .img-div{
        width: 50rem;
        min-height: 35rem;
        overflow: hidden;
        transition: 650ms ease;
        border-radius: 2.5rem;
        @include all.d-flex();
        .project-screenshot{
            width: 50rem;
            height: 35rem;
        }
        #ihk-sticker{
            position: absolute;
            width: 17rem;
            left: 2rem;
        }
        .project-details-button{
            width: 18rem;
            height: 5rem;
            position: absolute;
            @include all.button-like();
            display: none;
            a{
                color: all.$color2;
            }
        }
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.4) 0px -18dvh  36px -1rem inset;
            .project-screenshot{
                width: 120%;
                height: 120%;
            }

            .project-details-button{
                display: flex;
                position: absolute;
                right: 5rem;
                bottom: 5rem;
                &:hover{
                    box-shadow: 0 0;
                    background: all.$highlight3 ;
                    right: 4.5rem;
                    bottom: 4.5rem;
                }
            }
            
        }
    }
}