@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: url('./../../../../public/assets/design/02_skills/03_Skills_2.png');
    color: all.$color2;
    @include all.adjustBgImg($height: auto);
    min-height: 60dvh;
    .content{
        padding: 15rem 10rem;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-start, $cgap: 4rem);
        // #region SECTION TITLE
        .left-column{
            width: 30%;
            text-align: right;
            .skill-title{
                width: auto;
                >div{
                    @include all.adjustTopRight($pos: absolute);
                    height: 8rem;
                    >img{
                        width: 100%;
                        height: 100%;
                        transform: scaleX(-1);
                    }
                }
            }  
        }
        @media (max-width: 1150px) {
            @include all.paddingLeftRightOnly($pad: 8rem);
            .left-column{
                .skill-title{
                    h2{
                        font-size: 5.7rem;
                    }
                }
            }
        }
        // #endregion
        // # region PROG LANGUAGE SKILL LIST
        .mid-column{
            width: 55%;
            @include all.d-flex($flexdir: column, $rgap: 5rem);
            .short-intro{
                width: 100%;
                height: auto;
                color: all.$color1;
                @include all.d-flex($alit: center, $jc: center);
                .paper{
                    width: 100%;
                    height: 10rem;
                }
                .mobile{
                    display: none;
                }
                p{
                    position: absolute;
                    top: 2rem;
                    left: 1.5rem;
                    padding: 1rem;
                }
            }
            .programming-language{
                @include all.d-flex($flexdir: row, $jc: center, $alit: center, $cgap: 4rem, $rgap: 4rem);
                flex-wrap: wrap;
            }
        }
        // #endregion
        // #region STICKER
        .right-column{
            width: 20%;
            @include all.d-flex($jc:center, $alit: flex-end);
            @include all.adjustTopRight($top: 17rem);
            .sticker{
                @include all.square($length: 20rem);
                transform: rotate(10deg);
                cursor: pointer;
                @include all.d-flex($jc: center, $alit:center);
                .before{
                    width: 100%;
                }
                .arrow{
                    width: 25%;
                    @include all.adjustTopRight($top: 4rem, $right: 8rem, $pos: absolute);
                }
                #pull-to-peel{
                    @include all.square($length: 100%);
                    padding: 1rem;
                    @include all.adjustTopRight($top: 3rem, $pos: absolute);
                    @include all.d-flex($jc: center, $alit: center);
                    h5{
                        font-size: 4rem;
                        text-align: center;
                    }
                }
                .after{
                    opacity: 1;
                    @include all.square($length: 100%);
                    @include all.adjustTopRight($pos: absolute);
                }
                #other-interest{
                    padding: 2rem;
                    @include all.d-flex($flexdir: column, $jc: space-between, $alit: flex-end, $gap: 1rem);
                    h6{
                        text-align: center;
                    }
                    .other-interests-icons{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: space-around);
                        img{
                            @include all.square($length: 6rem);
                            filter: grayscale(100%);
                        }
                    }
                    .other-interests-label{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: space-around);
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    
                    
                }
            }
        }
        // #endregion
        // #region OTHER MEDIA'S VIEW
        @include all.notebook{
            @include all.d-flex($flexdir: column, $rgap: 6rem);
            width: 100%;
            padding: 10rem;
            .left-column{
                @include all.d-flex($alit: flex-end);
                width: 100%;
            }
            .mid-column{
                width: 100%;
            }
            .right-column{
                width: 100%;
                .sticker{
                    width: 20rem;
                    @include all.d-flex($jc: center, $alit:center);
                    top:0;
                    left: 0;
                    img{
                        width: 100%;
                        @include all.adjustTopRight($right: 2rem);
                    }
                    .arrow{
                        @include all.adjustTopRight($top: -16rem, $right: 2rem);
                    }
                    #pull-to-peel{
                        @include all.adjustTopRight($top: -20rem, $right: 3rem);
                    }
                    #other-interest{
                        @include all.adjustTopRight($top: -20rem, $right: 1.5rem);
                        h6{
                            text-align: center;
                        }
                        img{
                            @include all.square($length: 6rem);
                            position: relative;
                            top: 0;
                            left: 0;
                        }
                        p{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
        @include all.tablet{
            @include all.paddingLeftRightOnly($pad: 3rem);
            .mid-column{
                .short-intro{
                    .desktop{
                        display: none;
                    }
                    .mobile{
                        @include all.d-flex();
                        height: 22rem;
                    }
                    p{
                        padding: 3rem 1rem 3rem 1rem;
                    }
                }
            }
            .right-column{
                .sticker{
                    @include all.d-flex($alit: flex-start, $jc: flex-start);
                    top: 10rem;
                    left: -10rem;
                    img{
                        @include all.adjustTopRight($top:-5rem, $right: 10rem);
                    }
                    .arrow{
                        @include all.adjustTopRight($top: -21rem, $right: 2rem);
                    }
                    #pull-to-peel{
                        @include all.adjustTopRight($top: -26rem, $right: 10rem);
                    }
                    #other-interest{
                        @include all.adjustTopRight($top: -25rem, $right: 10.5rem);
                        h6{
                            text-align: center;
                        }
                        img{
                            @include all.square($length: 6rem);
                        }
                    }
                    @media (max-width: 450px) {
                        position: relative;
                        bottom: 0;
                        right: 0;
                        img{
                            @include all.adjustTopRight($top:-5rem, $right: 0rem);
                        }
                        .arrow{
                            @include all.adjustTopRight($top: -21rem, $right: -7rem);
                        }
                        #pull-to-peel{
                            @include all.adjustTopRight($top: -26rem, $right: 0rem);
                        }
                        #other-interest{
                            @include all.adjustTopRight($top: -25rem, $right: 0.5rem);
                        }
                    }
                }
                
            }
        }
        // #endregion
    }
}