@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: url('./../../../../public/assets/design/02_skills/03_Skills.png');
    background-size: cover;
    background-position: bottom;
    color: all.$color2;
    .content{
        height: auto;
        min-height: 60dvh;
        padding: 15rem 10rem;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-start, $cgap: 2rem);
        .left-column{
            width: 30%;
            text-align: right;
            .skill-title{
                width: auto;
                >div{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 8rem;
                    >img{
                        height: 100%;
                        transform: scaleX(-1);
                    }
                }
            }  
        }
        .mid-column{
            width: 55%;
            @include all.d-flex($flexdir: column, $rgap: 5rem);
            .short-intro{
                width: 100%;
                height: auto;
                color: all.$color1;
                @include all.d-flex($alit: center, $jc: center);
                img{
                    width: 100%;
                    height: 10rem;
                }
                p{
                    position: absolute;
                    top: 2rem;
                    left: 1.5rem;
                }
            }
            .programming-language{
                @include all.d-flex($flexdir: row, $jc: center, $alit: center, $cgap: 4rem, $rgap: 4rem);
                flex-wrap: wrap;
            }
        }
        .right-column{
            width: 20%;
            @include all.d-flex($jc:center, $alit: flex-end);
            .sticker{
                width: 20rem;
                transform: rotate(10deg);
                cursor: pointer;
                @include all.d-flex($jc: center, $alit:center);
                img{
                    width: 100%;
                    position: absolute;
                    top: 17rem;
                }
                .after{
                    opacity: 1;
                }
                .arrow{
                    width: 25%;
                    position: absolute;
                    top: 21rem;
                }
                #pull-to-peel{
                    width: 20rem;
                    height: 20rem;
                    padding: 1rem;
                    position: absolute;
                    top: 20rem;
                    @include all.d-flex($jc: center, $alit: center);
                    h5{
                        font-size: 4rem;
                        text-align: center;
                    }
                }
                #other-interest{
                    width: 20rem;
                    height: 20rem;
                    position: absolute;
                    top: 18rem;
                    padding: 2rem 1rem 2rem 1rem;
                    @include all.d-flex($flexdir: column, $jc: space-between, $alit: center, $gap: 1rem);
                    h6{
                        text-align: center;
                    }
                    img{
                        width: 6rem;
                        height: 6rem;
                        filter: grayscale(100%);
                        position: absolute;
                        top: 9.5rem;
                        // left: 7rem;
                    }
                    p{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}