@use './../../../../public/assets/styles/all-styles.scss' as all;

section{
    background: url('./../../../../public/assets/design/02_skills/03_Skills_2_1.png');
    color: all.$color2;
    @include all.adjustBgImg($height: auto);
    min-height: 60dvh;
    .content{
        padding: 13rem 10rem;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-start, $cgap: 4rem);
        // #region SECTION TITLE
        .left-column{
            width: 30%;
            text-align: right;
            .skill-title{
                width: auto;
                >div{
                    @include all.adjustTopRight($pos: absolute);
                    height: 8rem;
                    >img{
                        width: 100%;
                        height: 100%;
                        transform: scaleX(-1);
                    }
                }
            }  
        }
        @media (max-width: 1150px) {
            @include all.paddingLeftRightOnly($pad: 8rem);
            .left-column{
                .skill-title{
                    h2{
                        font-size: 5.7rem;
                    }
                }
            }
        }
        // #endregion
        // # region PROG LANGUAGE SKILL LIST
        .mid-column{
            width: 55%;
            @include all.d-flex($flexdir: column, $rgap: 5rem);
            .short-intro{
                width: 100%;
                height: auto;
                color: all.$color1;
                @include all.d-flex($alit: center, $jc: center);
                .paper{
                    width: 100%;
                    height: 10rem;
                    @media (max-width: 1100px) {
                        height: 12rem;
                    }
                }
                .mobile{
                    display: none;
                }
                p{
                    position: absolute;
                    width: 100%;
                    height: 10rem;
                    @include all.d-flex();
                    @include all.paddingLeftRightOnly($pad: 2rem);
                    @media (max-width: 1100px) {
                        height: 12rem;
                    }
                }
            }
            .programming-language{
                @include all.d-flex($flexdir: row, $jc: center, $alit: center, $cgap: 4rem, $rgap: 4rem);
                flex-wrap: wrap;
            }
        }
        // #endregion
        // #region STICKER
        .right-column{
            width: 20%;
            @include all.d-flex($jc:center, $alit: flex-end);
            @include all.adjustTopRight($top: 17rem);
            .sticker{
                transform: rotate(10deg);
                @include all.square($length: 20rem);
                @include all.d-flex($jc: center, $alit:center);
                cursor: pointer;
                .before{
                    width: 100%;
                }
                .arrow{
                    width: 25%;
                    @include all.adjustTopRight($top: 4rem, $right: 8rem, $pos: absolute);
                }
                #pull-to-peel{
                    @include all.square($length: 100%);
                    padding: 1rem;
                    @include all.adjustTopRight($top: 3rem, $pos: absolute);
                    @include all.d-flex($jc: center, $alit: center);
                    h5{
                        font-size: 4rem;
                        text-align: center;
                    }
                }
                .after{
                    opacity: 1;
                    cursor: pointer;
                    @include all.square($length: 100%);
                    @include all.adjustTopRight($pos: absolute);
                }
                #other-interest{
                    padding: 2rem;
                    @include all.d-flex($flexdir: column, $jc: space-between, $alit: flex-end, $gap: 1rem);
                    h6{
                        text-align: center;
                    }
                    .other-interests-icons{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: space-around);
                        img{
                            @include all.square($length: 6rem);
                            filter: grayscale(100%);
                        }
                    }
                    .other-interests-label{
                        width: 100%;
                        @include all.d-flex($flexdir: row, $jc: space-around);
                    }
                    
                    
                }
            }
        }
        // #endregion
        // #region OTHER MEDIA'S VIEW
        @include all.notebook{
            width: 100%;
            padding: 10rem 10rem 12rem 10rem;
            @include all.d-flex($flexdir: column, $rgap: 5rem);
            .left-column{
                @include all.d-flex($alit: flex-end);
                width: 100%;
            }
            .mid-column{
                width: 100%;
            }
            .right-column{
                width: 100%;
                @include all.adjustTopRight();
                @include all.d-flex($jc: center, $alit:center);
                .sticker{
                    width: 20rem;
                    @include all.d-flex($jc: center, $alit:flex-start);
                }
            }
        }
        @include all.tablet{
            padding: 8rem 10rem 15rem 10rem;
            gap: 4.5rem;
            .mid-column{
                .short-intro{
                    .desktop{
                        display: none;
                    }
                    .mobile{
                        @include all.d-flex();
                        height: 22rem;
                    }
                    p{
                        position: absolute;
                        width:100%;
                        height: 22rem;
                        padding: 4rem 1.5rem 4rem 1.5rem;
                    }
                }
            }
            .right-column{
                .sticker{
                    @include all.d-flex($alit: flex-start, $jc: flex-start);
                }
            }
        }
        @include all.mobile{
            padding: 8rem 4rem 15rem 4rem;
        }
        // #endregion
    }
}