.<section>
    <div class="content">
        <!-- #region SECTION TITLE -->
        <div class="left-column">
            <h3>{{'skills.stack' | translate}}</h3>
            <div class="skill-title">
                <h2>Skill set</h2>
                <div>
                    <img src="./assets/design/02_skills/Color-option-3.png" alt="">
                </div>
            </div>
        </div>
        <!-- #endregion -->
         <!-- #region PROGRAMMING LAGUAGE LIST -->
        <div class="mid-column">
            <div class="short-intro">
                <img class="paper desktop" src="./assets/design/02_skills/1.Skills-description.png" alt="paper background">
                <img class="paper mobile" src="./assets/design/02_skills/1B.Mobile.png" alt="paper background">
                <p>{{ 'skills.intro' | translate }}</p>
            </div>
            <div class="programming-language">
                @for (singleProgrammingLanguage of programminglanguagelist.progLanguageList; track singleProgrammingLanguage.name; let index = $index){
                    <app-programming-language [proglanguage]="singleProgrammingLanguage"></app-programming-language>
                }
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region STICKER -->
        <div class="right-column">
            <div class="sticker" (click)="peelsticker()">
                <ng-container *ngIf="!peeled">
                    <img class="before" src="./assets/design/02_skills/A.png" alt="front sticker">    
                    <img class="before arrow" src="./assets/design/02_skills/Arrow.png" alt="arrow to peel">
                    <span id="pull-to-peel"class="before"><h5>{{ 'skills.pull' | translate}}</h5></span>
                </ng-container>
                <ng-container *ngIf="peeled">
                    <img class="after" src="./assets/design/02_skills/C.png" alt="back sticker">
                    <span id="other-interest" class="after">
                        <h6>{{ 'skills.interest' | translate}}</h6>
                        <div class="other-interests-icons">
                            <img src="./assets/icons/icon_Scrum.png" alt="Scrum icon">
                            <img src="./assets/icons/icon_Python.png" alt="Python icon">
                        </div>
                        <div class="other-interests-label">
                            <p>Scrum</p>
                            <p>Python</p>
                        </div>
                    </span>
                </ng-container>    
            </div>    
        </div>
        <!-- #endregion -->
    </div>
</section>
