@use './../../../../public/assets/styles/all-styles.scss' as all;
// #region NORMAL DESKTOP VIEW
footer{
    background: url('./../../../../public/assets/design/05_contact/06_Contact.png');
    @include all.adjustBgImg($height: 17rem);
    .content{
        @include all.d-flex($flexdir: column, $alit: flex-start, $jc: center, $rgap: 1rem);
        color: all.$color2;
        padding: 1rem 15rem 1rem 15rem;
        #logo-with-text{
            @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 2rem);
            cursor: pointer;
            img{
                height: 5rem;
            }
            .logo{
                position: absolute;
            }
            .after{
                opacity: 0;
            }
            .text{
                padding-left:5rem;
            }
            &:hover{
                .after{
                    opacity: 1;
                }
                .before{
                    opacity: 0;
                }
            }
        }
        #footer-links{
            width: 100%;
            @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);
            a{
                span{
                    color: all.$color2;
                }
                .underline{
                    position: absolute;
                    bottom: -1.5rem;
                    left: -1rem;
                    img{
                        width: 12rem;
                    }
                }
                .button-like-noframe{
                    cursor: pointer;
                    @include all.d-flex($flexdir: column);
                    @include all.button-like($color:all.$color2, $pad: 0.5rem 1.5rem 0.5rem 1.5rem, $shadow: 0 0);
                    color: all.$color2;
                    background: all.$highlight2;
                    .rolling-object{
                        position: absolute;
                        top: -3rem;
                        left: 0;
                    }
                    &:hover{
                        
                    }
                    &:hover ~.rolling-object{
                            opacity: 1;
                            animation: wave-in 0.5s forwards;
                            animation-iteration-count: 1;
                        }
                        &:not(:hover) ~.rolling-object{
                            animation: wave-out 0.5s forwards;
                            animation-iteration-count: 1;
                        }
                }
            }
            @media (max-width: 1250px) {
                padding-top: 2rem;
            }
        } 
        #mobile-view{
            display: none;
        }
// #endregion
// #region OTHER MEDIA
        @include all.notebook{
            @include all.paddingLeftRightOnly($pad: 5rem);
        }
        @include all.tablet{
            @include all.d-flex($flexdir: column, $jc: space-between);
            @include all.paddingLeftRightOnly($pad: 5rem);
            @media (max-width: 380px) {
                @include all.paddingLeftRightOnly($pad: 3rem);
            }
            #logo-with-text, h6{
                display: none;
            }
            #mobile-view{
                @include all.d-flex($flexdir: column);
                width: 100%;
                #mobile-view-logo{
                    @include all.d-flex($flexdir: row, $jc: space-between);
                    width: 100%;
                    #logo-with-text{
                        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 2rem);
                        img{
                            height: 5rem;
                        }
                        @media (max-width: 480px) {
                            padding-top: 3rem;
                            .text{
                                display: none;
                            }
                        }
                    }
                    h6{
                        @include all.d-flex($jc: flex-end);
                        text-align: right;
                        overflow-wrap: break-word;
                    }
                }
                #mobile-view-imprint{
                    @include all.d-flex($flexdir: row, $jc: flex-end);
                    width: 100%;
                    #imprint-lnk{
                        span{
                            color: all.$color2;
                        }
                        .underline{
                            position: absolute;
                            bottom: -1.5rem;
                            left: -1rem;
                            img{
                                width: 12rem;
                            }
                        }
                    }
                }
            }
            #footer-links{
                >#imprint-lnk{
                    display: none;
                }
                #github-lnk, #linkedin-lnk, #mail-lnk{
                    .button-like-noframe{
                        .rolling-object{
                            top: -3.5rem;
                        }
                    }
                }
            }
        }        
    }
    // #endregion
}