<footer>
    <div class="content">
        <div id="logo-with-text">
            <img class="logo before" src="./assets/icons/felicious_turquoise.png" alt="Felicious Logo">
            <img class="logo after" src="./assets/icons/felicious_mustard.png" alt="Felicious Logo">
            <img class="text" src="./assets/icons/felicious_textonly.png" alt="Felicious">
        </div>
        <h6>&copy; Felicia Primadita Tretter 2025</h6>
        <div id="footer-links">
            <a id="imprint-lnk" href="imprint">
                <span>{{ 'footer.imprint' | translate }}</span>
                <div class="underline">
                    <img src="./assets/design/00_header/3.png" alt="marking legal notice">
                </div>
            </a>
            <a id="github-lnk" href="https://github.com/primadita">
                <div class="button-like-noframe">
                    <img class="rolling-object" src="./assets/icons/icon_GITHUB_small.png" alt="{{'footer.altGit'|translate}}">
                    <span>GitHub</span>
                </div>
            </a>
            <a id="linkedin-lnk" href="https://www.linkedin.com/in/felicia-primadita-tretter/">
                <div class="button-like-noframe">
                    <img class="rolling-object" src="./assets/icons/icon_LinkedIn.png" alt="{{'footer.altLinkedin'|translate}}">
                    <span>LinkedIn</span>
                </div>
            </a>
            <a id="mail-lnk" href="mailto:felicia.primadita@web.de">
                <div class="button-like-noframe">
                    <img class="rolling-object" src="./assets/icons/icon_Email.png" alt="{{'footer.altEmail'|translate}}">
                    <span>LinkedIn</span>
                </div>
            </a>
        </div>
    </div>
</footer>
